body{
    background-color: orange;
}

.container{
    height: 70%;
    margin: auto;
    position: static;
}

.container p{
    display: none;
    display: hide; /* no muestra el contenido pero ocupa espacio */
    color: white;
    position: static;
}

@media only screen and (max-width: 479px){ 
    body{
        background-color: black;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    body{
        background-color: green;
    }

    .container{
        position: relative;
        width: 100px;
        height: 100px;
        border: solid red 1px;
    }

    .container p{
        display: block;
        color: red;
        position: absolute;
        top: 1;
        left: 5;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px){ 
    body{
        background-color: grey;
    }

    .container{
        border: solid red 1px;
    }

    .container p{
        display: block;
        color: green;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1023px){ 
    body{
        background-color: pink;
    }

    .container p{
        display: block;
        color: orange;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){ 
    body{
        background-color: brown;
    }

    .container p{
        display: block;
        color: yellow;
    }
}

@media only screen and (min-width: 1200px){ 
    body{
        background-color: blanchedalmond;
    }
}
